<section class="intro">
    <div class="bg-image h-100">
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-9 col-xl-8">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-4 d-none d-md-block">
                    <img
                      src="https://w0.peakpx.com/wallpaper/276/259/HD-wallpaper-earth-globe-map-oneplus-oneplus-6t-oneplus6t-ultra-world.jpg"
                      alt="login form"
                      class="img-fluid" style="background-size: 150%; border-top-left-radius: 1rem; border-bottom-left-radius: 1rem;"
                    />
                  </div>
                  <div class="col-md-8 d-flex align-items-center">
                    <div class="card-body py-5 px-4 p-md-5">
  
                        <h4 class="fw-bold mb-4" style="color: #92aad0;">Crea un nuevo punto de ayuda</h4>
                        <p class="mb-4" style="color: #45526e;">¡Gracias por ayudar a la comunidad! Completa el formulario para añadirlo en el mapa.</p>
  
                        <div class="form-group mb-3">
                            <label for="exampleFormControlInput1">Nombre Completo</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y apellidos">
                        </div>
                        <div class="form-group mb-3">
                            <label for="exampleFormControlInput2">Correo Electrónico</label>
                            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@correo.com">
                        </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Tipo de ayuda</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Comida</option>
                                <option>Transporte</option>
                                <option>Alojamiento</option>
                                <option>Ropa</option>
                                <option>Medicamentos</option>
                                </select>
                            </div>
                            <div class="d-flex justify-content-end pt-1 mb-4">
                            <button class="btn btn-primary btn-rounded" type="button" style="background-color: #92aad0;">Enviar</button>
                            </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
  </section>