<app-header-map></app-header-map>
<!-- <i class="fa-search"></i>

<input type="text" class="input-search"> -->


<!-- <span class="fas fa-search"></span> -->
<!-- <i class="fa-solid fa-location-crosshairs"></i>
<i class="icon-chevron-sign-right"></i>z -->
<!-- <i class="bi bi-geo-fill"></i>z -->
<div class="row">
    <div class="col-7">
        <div id="map"></div>
    </div>
    <div class="col-5 places-container">
        <diV *ngFor="let place of placesToShow" class="place-item">
            <p class="place-item-header">{{place.name}}</p>
            <a>{{place.description}}</a> <br>
            <a>{{place.date}}</a>
            <!-- <img src="/src/assets/profile_pictures/image-{{place.user_id}}.png" alt="image"> -->
            <img alt="My image name" src="./../../../assets/profile_pictures/image-{{place.user_id}}.png">
            <!-- <img [src]="/src/assets/profile_pictures/image-1.png" /> -->

            <pre>{{place | json}}</pre>
        </diV>
    </div>

</div>

<button class="btn btn-danger"> sdd</button>
<!-- <leaflet-locate-control 
    [map]="map" 
    [options]="locateOptions"
    (location$)="onNewLocation($event)">
</leaflet-locate-control> -->
